    .app {  
    width: 1000px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 lightgray;
    }

    h2 {
    text-align: center;
    margin-bottom: 20px;
    }

    form {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .form-group {
    width: 100%;
    margin-bottom: 20px;
    }
    .preference{
      float: left;
      clear: none;
    }
    .tripLength{
      float: left;
      clear: none;
    }
    label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    float: left;
    color: black;
    font-style: normal;
    }

    input[type=radio],
    input.radio {
      float: left;
      clear: none;
      margin: 3px ;
    }

    input[type="text"], textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    }

    .form-group-btns {
    display: flex;
    justify-content: center;
    }

    button {
    background-color: lightblue;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 525%px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
    }
    #nav-section {
        margin-bottom: 60px;
    }
      
      #navbar, #navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      #navbar li {
        background-color: lightskyblue;
      
        /* 
        width of #main = 1000px
        # of top level menu options = 4
        1000px / 4 = 250px per menu option 
        */
      
        width: 250px;
        text-align: center;
        position: relative;
      }
      #navbar {
        display: flex;
        justify-content: center;
        background-color: lightskyblue;
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index: 1;
      }
      #navbar li:hover, #active-nav {
        background-color: lightgray;
      }
      #navbar a {
        text-decoration: none;
        color: black;
        height: 50px;
        line-height: 50px;
        display: block;
      }
      #navbar ul {
        position: absolute;
        display: none;
      }
      #navbar ul ul {
        left: 250px;
        top: 0px;
      }
      #navbar li:hover > ul {
        display: block;
      }